@import "../../style/variables";
@import "../../style/mediaQuery";

.pagination-list {
  display: flex;
  list-style-type: none;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: center;

  width: 80%;
  &__item {
    margin: 0.1rem;
  }
  &__btn {
    font-size: 1.1rem;
    background-color: $primary-color-brown;
    color: $primary-color-white;
    outline: none;
    border: 1px solid $primary-color-brown;
    cursor: pointer;
    text-align: center;
    padding: 0.4rem 1.5rem;

    &:hover {
      background-color: $primary-color-brown;
    }
  }
}

@include media-sm {
  .pagination-list {
    width: 75%;
  }
}
