@import "../../../style/variables";

.update-form {
  &__group {
    margin-top: 1.7rem;

    input {
      outline: none;
      padding: 0.7rem 1.5rem;
      font-size: 1.1rem;
    }

    button {
      @include buttons(
        $primary-color-brown,
        $primary-color-white,
        1px solid $primary-color-brown,
        0.7rem 1.7rem
      );
      transition: all 0.3s;

      &:hover {
        background-color: transparent;
        border: 1px solid $primary-color-white;
      }
    }
  }
  &__label {
    margin-bottom: 0.7rem;
    color: $primary-color-white;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
}
