@import "../../style/variables";

.error {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    font-size: 8rem;
    letter-spacing: 1px;
    font-weight: bolder;
  }
  p {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: -6rem;
  }

  a {
    @include buttons(
      $primary-color-black,
      $primary-color-white,
      1px solid $primary-color-black,
      0.5rem 3rem
    );
    font-size: 2rem;

    &:hover {
      background-color: #292929;
    }
  }
}
