@import "../../style/mediaQuery";

.wishlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 4rem 0;

  &-child {
    margin: 0.5rem 0.5rem;
    text-align: center;
    img {
      &:hover {
        opacity: 0.8;
      }
    }
    a {
      color: #000;
      text-decoration: none;
    }
  }
}

@include media-md {
  .wishlist {
    justify-content: center;
  }
}
