@import "../../style/variables";
@import "../../style/mediaQuery";

.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/images/background-2.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &-content {
    display: flex;
    justify-content: center;
  }

  &-form {
    width: 30%;
    &__group {
      margin: 1rem 0;
      width: 100%;
      label {
        display: block;
        color: $primary-color-white;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: 600;
        margin: 0.5rem 0;
      }

      input,
      textarea {
        width: 91%;
        padding: 0.7rem 1.4rem;
        outline: none;
        background-color: transparent;
        border: 2px solid $primary-color-white;
        color: $primary-color-white;
        font-size: 1.1rem;
        letter-spacing: 2px;

        &::placeholder {
          color: #e6e6e6;
          font-size: 0.9rem;
        }
      }
      textarea {
        resize: vertical;
        height: 200px;
        font-size: 1.5rem;
      }
    }

    button {
      width: 100%;
      padding: 0.5rem 0;
      font-size: 1.2rem;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      border: 2px solid $primary-color-white;
      color: $primary-color-white;
      transition: all 0.3s;

      &:hover {
        background-color: $primary-color-black;
      }
    }
  }
}

@include media-lg {
  .contact {
    &-form {
      padding: 0 2rem;
      width: 65%;

      input,
      textarea {
        width: 92%;
      }
    }
  }
}

@include media-md {
  .contact {
    &-form {
      width: 80%;

      input,
      textarea {
        width: 90%;
      }
    }
  }
}

@include media-sm {
  .contact {
    &-form {
      width: 100%;

      input,
      textarea {
        width: 90%;
      }
    }
  }
}
