@import "../../style/variables";
@import "../../style/mediaQuery";

section {
  .title-section {
    margin: 4rem 0;
    width: 100%;
    text-align: center;

    h2 {
      font-size: 3rem;
    }

    p {
      font-weight: 300;
      width: 35%;
      font-size: 1.2rem;
      margin: 1rem auto;
    }
  }

  .coffee-section {
    &__child {
      display: flex;
      justify-content: center;
    }

    &__group {
      margin: 0 1rem;
      img {
        max-width: 100%;
        height: auto;
      }
      p,
      h3 {
        text-align: center;
      }
      h3 {
        font-size: 1.5rem;
      }
    }
  }
}

@include media-lg {
  .title-section {
    p {
      width: 55% !important;
    }
  }
}

@include media-md {
  .title-section {
    p {
      width: 75% !important;
    }
  }

  .coffee-section {
    &__child {
      flex-wrap: wrap;
    }

    &__group {
      text-align: center;

      p {
        width: 75%;
        margin: 0 auto 1.8rem auto;
      }
    }
  }
}

@include media-sm {
  .title-section {
    p {
      width: 100% !important;
    }
  }

  .coffee-section {
    &__group {
      p {
        width: 100%;
      }
    }
  }
}
