@import "../../style/variables";
@import "../../style/mediaQuery";

.auth-form {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../assets/images/background.jpg");
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  &__child {
    display: flex;
    justify-content: center;
    background-color: $primary-color-brown;
    margin: 3rem auto;
    width: 700px;
    border-radius: 5px;
    .form-div {
      margin-right: 3.5rem;
    }
    .form {
      display: flex;
      padding: 3rem;

      &-title {
        color: $primary-color-white;
      }

      &-group {
        margin: 0.5rem 0;

        &__label {
          padding: 0.5rem 0;
          color: $primary-color-white;
          font-size: 1.1rem;
        }

        &__control {
          padding: 0.7rem 1.6rem;
          width: 100%;
          border-radius: 5px;
          outline: none;
          border: none;
        }
        .register {
          color: $primary-color-white;
          font-size: 1.2rem;
        }
      }
      &-btn {
        @include buttons(
          $primary-color-white,
          $primary-color-brown,
          2px solid $primary-color-brown,
          0.6rem 3.5rem
        );
        border-radius: 5px;
        transition: all 0.3s;

        &:hover {
          background-color: $primary-color-brown;
          border: 2px solid $primary-color-white;
          color: $primary-color-white;
        }
      }
    }
  }
}

@include media-lg {
  .auth-form {
    &__child {
      width: 95%;
    }
  }
  .form {
  }
}

@include media-md {
  .auth-form {
    &__child {
    }
  }
}

@include media-sm {
}
